ConsoleClienSubscriber/Connected Services/ServiceReference/VelibLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VelibLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VelibLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvailableStands" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalStands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="RequestInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cached" type="xs:int" />
      <xs:element minOccurs="0" name="Normal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestInfo" nillable="true" type="tns:RequestInfo" />
  <xs:complexType name="Metrics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avg" type="xs:long" />
      <xs:element minOccurs="0" name="Max" type="xs:long" />
      <xs:element minOccurs="0" name="Min" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Metrics" nillable="true" type="tns:Metrics" />
</xs:schema>