GUIClienMonitoring/Connected Services/VelibLibrary/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Velib" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VelibLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelib_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IVelib_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetWSRequestsTimeSpan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWSRequestsTimeSpan" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetWSRequestsTimeSpan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWSRequestsTimeSpanResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetWSRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWSRequests" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetWSRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWSRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetrics" />
  </wsdl:message>
  <wsdl:message name="IMonitoring_GetMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetricsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelib">
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelib/GetCities" message="tns:IVelib_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelib/GetCitiesResponse" message="tns:IVelib_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelib/GetStations" message="tns:IVelib_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelib/GetStationsResponse" message="tns:IVelib_GetStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMonitoring">
    <wsdl:operation name="GetWSRequestsTimeSpan">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoring/GetWSRequestsTimeSpan" message="tns:IMonitoring_GetWSRequestsTimeSpan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoring/GetWSRequestsTimeSpanResponse" message="tns:IMonitoring_GetWSRequestsTimeSpan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWSRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoring/GetWSRequests" message="tns:IMonitoring_GetWSRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoring/GetWSRequestsResponse" message="tns:IMonitoring_GetWSRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoring/GetMetrics" message="tns:IMonitoring_GetMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoring/GetMetricsResponse" message="tns:IMonitoring_GetMetrics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelib" type="tns:IVelib">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IVelib/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IVelib/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMonitoring" type="tns:IMonitoring">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWSRequestsTimeSpan">
      <soap:operation soapAction="http://tempuri.org/IMonitoring/GetWSRequestsTimeSpan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWSRequests">
      <soap:operation soapAction="http://tempuri.org/IMonitoring/GetWSRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetrics">
      <soap:operation soapAction="http://tempuri.org/IMonitoring/GetMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Velib">
    <wsdl:port name="BasicHttpBinding_IVelib" binding="tns:BasicHttpBinding_IVelib">
      <soap:address location="http://localhost:8733/VelibLibrary/Velib" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMonitoring" binding="tns:BasicHttpBinding_IMonitoring">
      <soap:address location="http://localhost:8733/VelibLibrary/Monitoring" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>